<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="camera_sensor_link">
        <sensor name="camera1" type="camera">
            <pose> 0 0 0 0 0 1.5708</pose>
            <visualize>true</visualize>
            <update_rate>30.0</update_rate>
            <camera>
                <camera_info_topic>camera1/camera_info</camera_info_topic>
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.002</near>
                    <far>300</far>
                </clip>
            </camera>
            <topic>camera1/image</topic>
            <gz_frame_id>camera_sensor_link</gz_frame_id>
        </sensor>
    </gazebo>
</robot>