<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<!--    <gazebo>-->
<!--        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">-->
<!--            <render_engine>ogre2</render_engine>-->
<!--        </plugin>-->
<!--    </gazebo>-->

    <gazebo reference="camera_sensor_link">

        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>camera_sensor_link</gz_frame_id>
        </sensor>
    </gazebo>
</robot>